<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <nav class="nav">
        <a class="logo" href="">
            <img src="{% static 'assets/images/keanan_logo2.png' %} " alt="logo">
    
        </a>
        <div class="navbar-toggler" type="button" id="bar">
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
        </div>
        <div class="menu-bar" id="navbar">
            <ul class="menu-items">
                <li><a href="#home">Home</a></li>
                <li><a href="#service">Services</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="navbar-social">
            <span>Follow Us</span>
            <ul>

                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i> </a>            </li>
                <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i> </a>            </li>
                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> </a>            </li>
                <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> </a>            </li>
            </ul>
        </div>
    </nav>
    
    <div class="back    " id="home">
        <div class="overlay">

        </div>
        <div class="hero-shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,0L48,21.3C96,43,192,85,288,117.3C384,149,480,171,576,170.7C672,171,768,149,864,154.7C960,160,1056,192,1152,176C1248,160,1344,96,1392,64L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </div>
        
    </div>
    <div class="hero-text">
        <h3>We are Window Cleaner Company</h3>
        <h6>We make you glass window sparkling all the time to see beautiful views from inside you room</h6>
        <ul class="header-btn">
            <li><a class="main-btn btn-one" href="#">GET IN TOUCH</a></li>
            <li><a class="main-btn btn-two" href="#">WATCH THE VIDEO <i class=" fa fa-play"></i> </a> </li>
        </ul>
    </div>

    <section id="wrapper">
        <section id="service" class="service offset">
            <h3>Service</h3>
            <h6>We make your window glass shining all the time.</h6>
            <div class="service-content">
                <div class="box">
                   
                    <div class="box-one">
                        <div class="services">
                            <div class="service-icon">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="services-title">Cleaning Business</h4>
                                <p class="text">Short description for the ones <br> who want to have nice shining glass</p>
                                
                            </div>
                        </div>
                        <div class="services">
                            <div class="service-icon">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="services-title">Cleaning Business</h4>
                                <p class="text">Short description for the ones <br> who want to have nice shining glass</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="box-one">
                        <div class="services">
                            <div class="service-icon">
                                <i class="fa fa-area-chart"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="services-title">Cleaning Business</h4>
                                <p class="text">Short description for the ones <br> who want to have nice shining glass</p>
                                
                            </div>
                        </div>
                        <div class="services">
                            <div class="service-icon">
                                <i class="fa fa-coffee"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="services-title">Cleaning Business</h4>
                                <p class="text">Short description for the ones <br> who want to have nice shining glass</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-img">
                    <img src="{% static 'assets/images/cleaning-img.jpg' %} " alt="">

                </div>
            </div>

        </section>
        <section id="pricing" class="pricing offset">
            <h3>Our Pricing</h3>
            <h6>We make you glass window sparkling all the time to see beautiful views from inside you room</h6>
            <div class="table">
                <div class="basic">
                    <div class="b-head">
                        <h3>BASIC</h3>
                    </div>
                    <div class="price">
                        <span class="sing">$</span>
                        <span class="currency">99</span>
                        <span class="cent">.99</span>
                        <span class="month">/MON</span>
                    </div>
                    <div>
                        <ul>

                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Carefully crafted components </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Amazing page examples </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Super friendly support team </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>SAwesome Support </li>
                        </ul>
                        <ul class="header-btn">
                            <a href="#" class="main-btn btn-two">See More</a>   

                        </ul>
                    </div>
                </div>
                <div class="basic standard">
                    <div class="b-head">
                        <h3>STANDARD</h3>
                    </div>
                    <div class="price">
                        <span class="sing">$</span>
                        <span class="currency">199</span>
                        <span class="cent">.99</span>
                        <span class="month">/MON</span>
                    </div>
                    <div>
                        <ul>

                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Carefully crafted components </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Amazing page examples </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Amazing page examples </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Super friendly support team </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>SAwesome Support </li>
                        </ul>
                        <ul class="header-btn">
                            <a href="#" class="main-btn btn-two">See More</a>   

                        </ul>
                    </div>
                </div>
                <div class="basic ">
                    <div class="b-head">
                        <h3>UNLIMITED</h3>
                    </div>
                    <div class="price">
                        <span class="sing">$</span>
                        <span class="currency">299</span>
                        <span class="cent">.99</span>
                        <span class="month">/MON</span>
                    </div>
                    <div>
                        <ul>

                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Carefully crafted components </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Amazing page examples </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Super friendly support team </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>SAwesome Support </li>
                        </ul>
                        <ul class="header-btn">
                            <a href="#" class="main-btn btn-two">See More</a>   
                     
                        </ul>
                    </div>
                </div>
            </div>
    
        </section>
        <section class="callToAct">
            <div class="parallax">
                <div class="call-content">
                    <h3 class="call-title">Curious to learn More? Stay Tuned</h3>
                    <p class="text">You let us know whenever you want us to update anthing or think something can be optimised.</p>
                </div>
                <div class="call-news">
                    <i class="fa fa-envelope"></i>
                    <input type="text" placeholder="john@email.com" name="">
                    <button type="submit">SUBSCRIBE</button>
                </div>
    
            </div>
    
        </section>
        <section class="contact offset" id="contact">
            <h3>Get In Touch</h3>
            <h6>If you need perfect window cleanig please contact us in our business email.</h6>
            <div class="form">
                <div class="first-row">
                    <input type="text" placeholder="Name" class="">
                    <input type="email" placeholder="Email" class="">
                </div>
                <div class="first-row">
                    <input type="text" placeholder="Subject" class="">
                    <input type="text" placeholder="Phone" class="">
                </div>
                <textarea name="" placeholder="Message" id="" cols="30" rows="5"></textarea>
                <ul class="header-btn">
                    <a href="#" class="main-btn btn-two">Submit</a>
                </ul>

            </div>
        </section>
    </section>
    <footer class="">
        <div class="row-one">
            <a class="logo" href="">
                <img src="{% static 'assets/images/keanan_logo2.png' %} " alt="logo">
        
            </a>
            
                <ul>
    
                    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i> </a>            </li>
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i> </a>            </li>
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> </a>            </li>
                    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> </a>            </li>
                </ul>
            
        </div>
        <div class="second-row">
            <div class="first-row">
                <h6 class="footer-title">Company</h6> 
                <ul>
                    <li><a href="">About</a> </li>
                    <li><a href="">Contact</a> </li>
                    <li><a href="">Career</a> </li>
                </ul>
            </div>
            <div class="first-row">
                <h6 class="footer-title">Product & Services</h6> 
                <ul>
                    <li><a href="">Products</a> </li>
                    <li><a href="">Business</a> </li>
                    <li><a href="">Developer</a> </li>
                </ul>
            </div>
            <div class="first-row">
                <h6 class="footer-title">Help & Support</h6> 
                <ul>
                    <li><a href="">Support Center</a> </li>
                    <li><a href="">FAQ</a> </li>
                    <li><a href="">Terms & conditions</a> </li>
                </ul>
            </div>
            <div class="first-row">
                <h6 class="footer-title">Subscrive Newsletter</h6> 
                <div class="newsletter">
                    <input type="text" name="" placeholder="Your Email">
                    <button type="submit" ><i class="fa fa-angle-double-right"></i> </button>
                </div>
                <p class="text">Subscribe weekly newsletter to stay upto date. We don't send spam.</p>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>Template Crafted by <a href="">David Gurung <a href="">DevTech</a></a></p>
    </div>
    {% block content %} {% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %} "></script>
</body>
</html>